:root {
    --main-radius: 5px;
    --main-padding: 5px;
    --main-background: #090911;
}

 *{
  margin: 0;
  box-sizing: border-box;
 } 

body{
    background-color: #535458 ;
}


.container{
    
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        grid-template-rows: 0.4fr 0.5fr 1.0fr 2.2fr;
        grid-template-areas:
        "navbar navbar navbar navbar"
        "countrypicker countrypicker countrypicker datatable"
        "infections recovery deaths  datatable"
        "graph graph graph datatable";
        grid-gap:0.5rem;
        font-family: "Inter", sans-serif;
        font-weight: 700;
        color: #ffff;
        text-align: center;
      
      }

      .navbar {
        background: var(--main-background);
        grid-area: navbar;
        border-radius: var(--main-radius);
      padding-top: var(--main-padding);
        }

        .countrypicker {
            background: var(--main-background);
            grid-area: countrypicker;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
          }

          .datatable {
            background: var(--main-background);
            grid-area: datatable;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
          overflow:scroll;
          }

          .infections {
            background: var(--main-background);
            grid-area: infections;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
          }


          .recovery {
            background: var(--main-background);
            grid-area: recovery;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
          }
          
          .deaths {
            background: var(--main-background);
            grid-area: deaths;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
          }
          

          .graph {
            background: var(--main-background);
            grid-area: graph;
            border-radius: var(--main-radius);
          padding-top: var(--main-padding);
            
          } 